body{
    margin: 0%;
    padding: 0%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    /* position: -webkit-sticky;
    position: sticky;
    top: 0; */
    background-color: black;
    padding: 10PX;
}
#bio{
    height: 50px;
    background-color: white;
}
#bio h3{
    color: black;
    margin: auto;
    padding: 15px;
    text-align: center;
}
.menu{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 30%;
    border: 1px solid black;
    background-color: black;
    color: black;
    height: infinite;

}
#menu{
    margin-left: 30%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    
}
#id{
    padding: 15px;
}
.food{
    /* border: 1px solid blue; */
    height: infinite;
    width: 1000px;
    display: block;
    margin-left: 100px;
}
.flex{
    display: flex;
}
.body{
    display: flex;
}
#food{
    height: 300px;
    width: 300px;
}

.pad{
    padding: 100px;
    background-color: whitesmoke;
    margin-left: 50px;
    margin-right: 200px;
    margin-top: 30px;
    padding-bottom: 25px;
}
.PERIPERIMATCHSPECIALS img{
    height: 60%;
    width: 90%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.PERIPERIMATCHSPECIALS
{
    display: flex;
}
.add{
    text-align: center;
    border:1px solid red;
    background-color: red;
    width: 100px;
    margin: auto;
    color: white;
    border-radius: 100px;
}
a{
    text-decoration: none;
    color: white;
}
.CHICKENROLLS img{
    height: 60%;
    width: 90%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.CHICKENROLLS {
    display: flex;
}
.CHICKENROLLSS img{
    height: 300px;
    width: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.addd{
    text-align: center;
    border:1px solid red;
    background-color: red;
    width: 100px;
    color: white;
    border-radius: 100px;
}
.CHICKENBUCKETS img{
    height: 60%;
    width: 90%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.CHICKENBUCKETS{
    display: flex;
}
.CHICKENBUCKETSS img{
    height: 300px;
    width: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.addd{
    text-align: center;
    border:1px solid red;
    background-color: red;
    width: 100px;
    color: white;
    border-radius: 100px;
}
.BIRYANIBUCKETS img{
    height: 60%;
    width: 90%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.BIRYANIBUCKETS{
    display: flex;
}
.BIRYANIBUCKETSS img{
    height: 300px;
    width: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.BOXMEALS img{
    height: 60%;
    width: 90%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.BOXMEALS{
    display: flex;
}
.BURGERS img{
    height: 60%;
    width: 90%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.BURGERS{
    display: flex;
}
.BEVERAGES img{
    height: 60%;
    width: 90%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.BEVERAGES{
    display: flex;
}
.details{
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding-top: 50px;
}
.last{
    background-color: black;
}

